/* Primary - #0b7285 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #333;
  background-color: #e7f1f3;
}

.login-container {
  background-color: #fff;
  max-width: 40rem;
  padding: 6.4rem 4.8rem;
  margin: 9.6rem auto;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.1);
}

.logo {
  font-size: 4rem;
  color: #0b7285;
  margin-bottom: 3.2rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.credential {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.input-text {
  width: 28rem;
  position: relative;
}

.icon {
  font-size: 2rem;
  color: #0b7285;
}

input {
  width: 100%;
  font-size: 2rem;
  padding: 1rem 2rem;
  outline: none;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  transition: all 0.3s;
}

.label {
  position: absolute;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  color: #adb5bd;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: all 0.3s;
}

input:focus,
input:valid {
  border: 1px solid #0b7285;
}

input:focus + .label,
input:valid + .label {
  font-size: 1.2rem;
  color: #095b6a;
  font-weight: 500;
  transform: translate(0, -2.9rem);
  background-color: #fff;
  margin-left: 1.2rem;
  padding: 0 1rem;
}

.btn {
  font-size: 1.8rem;
  color: #fff;
  padding: 1.2rem 2.4rem;
  width: 30.4rem;
  background-color: #0b7285;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 3.2rem;
}

.btn:hover {
  background-color: #0a6778;
}

.forgot {
  font-size: 1.4rem;
}

.link-text:link,
.link-text:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.link-text:hover,
.link-text:active {
  color: #0a6778;
  font-weight: 500;
}
