/* COLOR */
/* 
Primary - #0b7285
*/

/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #333;
  background-color: #e7f1f3;
}

.login-container {
  background-color: #fff;
  max-width: 40rem;
  padding: 6.4rem 4.8rem;
  margin: 9.6rem auto;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0 0 3rem rgb(0, 0, 0, 0.1);
}

.logo {
  font-size: 4rem;
  color: #0b7285;
  margin-bottom: 3.2rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 700;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  margin-bottom: 2.4rem;
}

.credential {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 3.2rem;
}

.icon {
  font-size: 2rem;
  color: #0b7285;
}

input {
  width: 30rem;
  height: 4rem;
  border: 1px solid #dee2e6;
}

.btn {
  font-size: 1.8rem;
  color: #fff;
  padding: 1.2rem 2.4rem;
  width: 30.4rem;
  background-color: #0b7285;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 3.2rem;
}

.btn:hover {
  background-color: #0a6778;
}

.forgot {
  font-size: 1.4rem;
}

.link-text:link,
.link-text:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.link-text:hover,
.link-text:active {
  color: #0a6778;
  font-weight: 500;
}
